/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */

*,*::before,*::after {
    box-sizing: border-box;
}

:root {
    --primary: #e1e4eb;
    --secondary: rgb(115,30,51);
    --tertiary: rgb(32,128,129);
    --white: #fff;
    --buttons: #cfcfcf;
    --black: #272727;
}

body {
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 700;
   
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 60vh;
    border: 1px solid black;
    background-color: var(--primary);
    border-radius: 16px;
}
.margin{
    margin: 0 2rem;
}
h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}
.result {
    background-color: #000;
    height: 5rem;
    border-radius: 10px;
    margin: 2rem;
    color: var(--white);
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
.box{
    height: 3.4rem;
    border-radius: 0.6rem;
    background-color: var(--secondary);
    margin-bottom: 2rem;
    background-color: var(--buttons);
    color: var(--black);
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.operations{
    background-color: var(--secondary);
    color: var(--white);
}
.equals{
    background-color: var(--tertiary);
}
.box:hover {
    border: 1px solid black;
    font-size: 3rem;
}
.operations:hover{
    border: 1px solid black;
}

/* Flex */

.flex {
    display: flex;
}
.jcb {
    justify-content: space-between;
}
.jcc {
    justify-content: center;
}
.jce {
    justify-content: flex-end;
}
.aic {
    align-items: center;
}
.ais {
    align-items: stretch;
}
.wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.flex-80 {
    flex: 0 1 80%;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-16 {
    flex: 0 1 14%;
}
.flex-75 {
    flex: 0 1 69%;
}
.flex-25 {
    flex: 0 1 23%;
}
.flex-30 {
    flex: 0 1 27%;
}